@import "../../pageScss/variable.scss";

@keyframes backgroundChange {
  0% {
    background: linear-gradient(
      180deg,
      rgba(32, 19, 92, 1) 99%,
      rgba(45, 30, 142, 1) 100%
    );
    -webkit-box-shadow: 0px 10px 9px -10px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 10px 9px -10px rgba(255, 255, 255, 0.5);
  }
  10% {
    background: linear-gradient(
      180deg,
      rgba(32, 19, 92, 1) 80%,
      rgba(45, 30, 142, 1) 100%
    );
    -webkit-box-shadow: 0px 9px 9px -9px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 9px 9px -9px rgba(255, 255, 255, 0.5);
  }
  20% {
    background: linear-gradient(
      180deg,
      rgba(32, 19, 92, 1) 60%,
      rgba(45, 30, 142, 1) 100%
    );
    -webkit-box-shadow: 0px 8px 9px -8px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 8px 9px -8px rgba(255, 255, 255, 0.5);
  }
  30% {
    background: linear-gradient(
      180deg,
      rgba(32, 19, 92, 1) 40%,
      rgba(45, 30, 142, 1) 100%
    );
    -webkit-box-shadow: 0px 7px 9px -7px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 7px 9px -7px rgba(255, 255, 255, 0.5);
  }
  40% {
    background: linear-gradient(
      180deg,
      rgba(32, 19, 92, 1) 20%,
      rgba(45, 30, 142, 1) 100%
    );
    -webkit-box-shadow: 0px 6px 9px -6px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 6px 9px -6px rgba(255, 255, 255, 0.5);
  }
  50% {
    background: linear-gradient(
      180deg,
      rgba(32, 19, 92, 1) 0%,
      rgba(45, 30, 142, 1) 100%
    );
    -webkit-box-shadow: 0px 5px 9px -5px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 5px 9px -5px rgba(255, 255, 255, 0.5);
  }
  60% {
    background: linear-gradient(
      180deg,
      rgba(32, 19, 92, 1) 0%,
      rgba(45, 30, 142, 1) 80%
    );
    -webkit-box-shadow: 0px 4px 9px -4px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 9px -4px rgba(255, 255, 255, 0.5);
  }
  70% {
    background: linear-gradient(
      180deg,
      rgba(32, 19, 92, 1) 0%,
      rgba(45, 30, 142, 1) 60%
    );
    -webkit-box-shadow: 0px 3px 9px -3px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 3px 9px -3px rgba(255, 255, 255, 0.5);
  }
  80% {
    background: linear-gradient(
      180deg,
      rgba(32, 19, 92, 1) 0%,
      rgba(45, 30, 142, 1) 40%
    );
    -webkit-box-shadow: 0px 2px 9px -2px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 2px 9px -2px rgba(255, 255, 255, 0.5);
  }
  90% {
    background: linear-gradient(
      180deg,
      rgba(32, 19, 92, 1) 0%,
      rgba(45, 30, 142, 1) 20%
    );
    -webkit-box-shadow: 0px 1px 9px -1px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 1px 9px -1px rgba(255, 255, 255, 0.5);
  }
  100% {
    background: linear-gradient(
      180deg,
      rgba(32, 19, 92, 1) 0%,
      rgba(45, 30, 142, 1) 0%
    );
    -webkit-box-shadow: 0px 0px 9px 0px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 9px 0px rgba(255, 255, 255, 0.5);
  }
}
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

.stationary-button {
  width: 150px;
  height: 50px;
  background-color: $secondarydarkcolor;
  color: #eeeeee;
  border: none;
  font-family: $fontfamily;
  font-size: 18px;
  cursor: pointer;
  transition: color 0.166s;
  &:hover {
    @include animation("backgroundChange 0.15s 1");
    background: rgba(45, 30, 142, 1);
    -webkit-box-shadow: 0px 0px 9px 0px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 9px 0px rgba(255, 255, 255, 0.5);
    color: white;
  }
}
