@import "./variable.scss";

.contact-main {
  margin: 100px 0 64px 0;

  form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 24px;
    -webkit-box-shadow: 12px 12px 30px #ccc, -12px -12px 30px white;
    box-shadow: 12px 12px 30px #ccc, -12px -12px 30px white;
    @media screen and (min-width: 768px) {
      width: 600px;
      margin: 0 auto;
      padding: 32px;
      border-radius: 8px;
    }
    @media screen and (max-width: 768px) {
      padding: 32px 0;
    }

    h5 {
      margin: 0 0 12px 0;
      font-size: 36px;
    }

    label {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      font-size: 24px;
      margin: 16px 0;
      font-family: $fontfamily;

      textarea {
        height: 100px;
        width: calc(90% - 32px);
        background-color: #eee;
        border: none;
        outline: none;
        border-radius: 24px;
        display: block;
        margin: 8px auto 0 auto;
        padding: 16px 16px 16px 24px;
        font-family: $fontfamily;
        box-shadow: inset 8px 8px 8px #ddd, inset -8px -8px 8px #fff;
        resize: none;
      }

      input {
        height: 36px;
        width: calc(90% - 32px);
        background-color: #eee;
        border: none;
        outline: none;
        border-radius: 24px;
        display: block;
        margin: 8px auto 0 auto;
        padding: 16px 16px 16px 24px;
        font-family: $fontfamily;
        box-shadow: inset 8px 8px 8px #ddd, inset -8px -8px 8px #fff;
        &:focus {
          border: none;
        }
      }
    }

    button {
      @media screen and (min-width: 768px) {
        grid-column: span 1;
      }
      @media screen and (max-width: 768px) {
        grid-column: span 1;
      }
    }
  }
}
