@import "./variable.scss";

a {
    color: #151035;
}

a:hover {
    text-decoration: underline;
}

.final-main {
    margin: 32px 0;

    .final-title {
        display: grid;

        h1 {
            margin: 0 16px 0 0
        }
    }

    .pp-app {
        margin: 32px 0;

        h3 {
            margin: 0 0 8px 0;
        }

        p {
            margin: 0 0 8px 0;
        }
    }

    .content-split {
        display: grid;
    }

    @media screen and (min-width: $phonesize) {
        padding: 0 32px 32px 32px;
        .content-split {
            grid-template-columns: auto auto;
        }
        .bar-graph-sideway {
            font-size: 16px;
        }
        .final-title {
            grid-template-columns: auto 200px;
        }
    }
    
    @media screen and (max-width: $phonesize) {
        padding: 0 8px 8px 8px;
    
        .content-split {
            grid-template-columns: auto;
            justify-content: center;
    
            .pie-chart {
                grid-row: 2;
            }
        }
        .bar-graph-sideway {
            font-size: 10px;
        }
        .final-title {
            grid-template-columns: auto;
        }
    }

    @media screen and (min-width: $tabletsize) {
        .content-split{
            .pie-chart {
                height: 180px;
                width: 140px;
                svg {
                    transform: scale(0.5);
                    transform-origin: top left;
                }
            }
        }
    }

    @media screen and (max-width: $tabletsize) {
        .content-split {
            .pie-chart {
                height: 260px;
                width: 280px;
                svg {
                    transform: scale(1);
                }
            }
        }
    }
}