@import "./variable.scss";

body {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-family: $fontfamily;
  color: $primarydarkcolor;
  cursor: default;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: $primarydarkcolor #ccc;
  scrollbar-face-color: $primarydarkcolor;
  scrollbar-shadow-color: #ccc;
  scrollbar-highlight-color: $primarydarkcolor;
}

.container {
  scrollbar-color: red;
}

.owen-header-container {
  height: 320px;
  width: 100%;
  background-size: contain;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ccc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primarydarkcolor;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $secondarydarkcolor;
}

::selection {
  color: white;
  background: $secondarydarkcolor;
}
