@import "./variable.scss";

.projects-main {
    margin-top: 125px;

    h1 {
        text-align: center;
    }

    .descrip {
        margin: 0 auto;
        text-align: center;
        padding: 0 32px;
        max-width: 960px;

        @media screen and (min-width: $phonesize) {
            padding: 0 16px;
        }

        @media screen and (max-width: $phonesize) {
            padding: 0 4px;
        }
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        padding: 32px 0px;
        justify-content: center;
    }
}