@import "./variable.scss";

.wish-main {
  margin: 100px 0;

  h1 {
    text-align: center;
  }

  .descrip {
    margin: 0 32px;
    text-align: center;
  }

  .wish-sort-setting {
    margin: 16px;
    width: 180px;
    color: darkgray;
  }

  .wish-form {
    display: grid;
    justify-content: space-around;
    background-color: #eee;
    padding: 32px;
    @media screen and (min-width: $tabletsize) {
      grid-template-columns: auto auto auto;
    }
    @media screen and (max-width: $tabletsize) {
      grid-template-columns: 324px;
    }

    .wish-filter-container {
      display: flex;
      flex-direction: column;
      background-color: #ddd;
      border-radius: 16px;
      margin: 16px;
      padding: 16px;
      @media screen and (min-width: $tabletsize) {
        width: auto;
      }
      @media screen and (max-width: $tabletsize) {
        width: 260px;
      }
    }
  }

  .wish-contains {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .wish-container {
      background-color: white;
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      -webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.25);
      box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.25);
      margin: 32px;
      padding: 16px 32px;
      @media screen and (min-width: $phonesize) {
        width: 320px;
      }
      @media screen and (max-width: $phonesize) {
        width: 90%;
      }

      .wish-image {
        border-radius: 16px;
        margin: auto auto 32px auto;
        width: 100%;
      }

      .wish-title {
        margin: 0 0 16px 0;
        font-size: 24px;
      }
      .wish-why {
        margin: 0;
      }
      .wish-price {
        margin: 16px 0 0 0;
        font-size: 24px;
        color: gray;
      }
      .wish-rank {
        display: none;
      }
    }
  }
}
